@model List<Product>


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-2">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a  asp-controller="Product" asp-action="Upsert" class="btn btn-primary">Add New Product</a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%" >
            <thead>
                <tr>
                    
                    <th class="text-center">Title</th>
                    @* <th class="text-center">Description</th> *@
                    <th class="text-center">ISBN</th>
                    <th class="text-center">List Price</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Author</th>
                    @* <th class="text-center">Image</th> *@
                    <th class="text-center">Action</th>
                </tr>
            </thead>
           @*  this does not have loop coz we are using dataTable.net plugins *@
        </table>
    </div>
</div

@section Scripts{
    <script src="~/js/Product.js"></script>
}
